body {
    font-family: 'Open Sans', sans-serif;
}


.top {
    background-color: #701919;
    min-height: 35px !important;
}

    .top h1 {
        font-size: 25px;
        text-align: center;
        color: white;
        margin: 0;
        padding-top: 3px;
    }

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
    font-size: 4em;
    line-height: 158.33%;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding-bottom: 20px;
    line-height: 100%;
}

p {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    color: #505050;
    font-size: 1.286em;
    line-height: 155.55%;
}

ul.superlist li {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    color: #505050;
    font-size: 1.286em;
    line-height: 155.55%;
}
header {
    /* background:url(../images/pw_maze_black_2X.png) left top repeat;
   padding:280px 0;*/
    /*background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;*/
}

.navbar {
    margin-top: 35px !important;
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 20px;
    line-height: 0px;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}




.cbp-af-header-shrink {
    margin-top: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}


.fill-screen {
    background-size: cover !important;
    background-position: center !important;
    text-align: center;
    padding: 280px 0;
}


.link {
    padding: 15px 35px;
    background: #7cc576;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .link:hover {
        text-decoration: none;
        color: #7cc576 !important;
        background: #fff;
    }

    .link:active, .link:focus {
        background: #7cc576;
        text-decoration: none;
        color: #fff !important;
    }




.content-filler {
    min-height: 350px;
}





/* Service Super Visa*/

.testhome {
    margin-top: 140px;
}

span.intro {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    color: #8e8e8e;
    font-size: 1.714em;
    line-height: 158.33%;
    margin-bottom: 24px;
    display: block;
}

.servicedesc {
    box-sizing: border-box;
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

    .servicedesc div:first-child {
        padding-right: 40px;
        border-right: 1px solid #dbdbdb;
    }

span.bold-green-txt {
    color: #99cc5d;
    font-weight: 600;
}

p {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    color: #505050;
    font-size: 1.286em;
    line-height: 155.55%;
    margin-bottom: 37px;
}

.servicedesc div:last-child span:first-child {
    color: #99cc5d;
    font-weight: 600;
}





/* Talk Business
---------------------------------*/
.business-talking {
    background: url(../images/section-bg2.jpg) top center no-repeat;
    background-size: cover;
    padding: 60px 0 10px;
    text-align: center;
}

    .business-talking h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding: 0;
        margin: 20px 0 70px;
        text-transform: uppercase;
        font-size: 42px;
        color: #fff;
    }


/* Contact
---------------------------------*/
.main-section.contact {
    padding: 90px 0 100px;
}

.main-section.contact {
    background: url(img/bg-map.png) left 190px no-repeat;
}

.contact-info-box {
    font-size: 15px;
    margin: 0 0 14px 0px;
    padding-left: 0;
}

    .contact-info-box h3 {
        font-size: 15px;
        font-weight: 400;
        float: left;
        width: 102px;
        margin-right: 12px;
        line-height: 28px;
    }

        .contact-info-box h3 i {
            font-style: normal;
            font-size: 18px;
            color: #222222;
            font-family: 'FontAwesome';
            font-weight: normal;
            margin-right: 7px;
        }

    .contact-info-box span {
        line-height: 28px;
        display: block;
        overflow: hidden;
    }

.social-link {
    padding: 35px 0;
    margin: 0 0 0 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

    .social-link li {
        float: left;
        margin-right: 8px;
    }

        .social-link li a {
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
            color: #fff;
            background: #222222;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }

            .social-link li a:hover, .social-link li a:focus {
                text-decoration: none;
            }

.twitter a:hover {
    background: #55acee;
}

.facebook a:hover {
    background: #3b5998;
}

.pinterest a:hover {
    background: #cb2026;
}

.gplus a:hover {
    background: #dd4b39;
}

.dribbble a:hover {
    background: #ea4c89;
}

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

    .input-text:focus {
        border: 1px solid #7cc576;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    }

    .input-text.text-area {
        height: 165px;
        resize: none;
        overflow: auto;
    }

.input-btn {
    width: 175px;
    height: 50px;
    /*background:#7cc576;*/
    background: #701919;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

    .input-btn:hover {
        background: #111;
        color: #fff;
    }

.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#sendmessage {
    color: #7cc576;
    border: 1px solid #7cc576;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

    #sendmessage.show, #errormessage.show, .show {
        display: block;
    }

/* Address */

.address h7 {
    text-align: center;
    font-size: 18px;
}


/* Section Google Map */
#map {
    height: 200px;
    width: 100%;
    margin: 10px 0;
}

#map2 {
    height: 200px;
    width: 100%;
    margin: 15px 0;
}



footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}



@media (max-width: 1024px) {
    .fixed-attachment {
        /* background-attachment: scroll !important; */
        display: none;
    }
}


@media (min-width: 600px) {
    #carousel img {
        width: 100%;
        max-height: 300px;
        *
    }

    .carousel-inner .item p {
        margin-bottom: -5px;
        color: black;
        display: block
    }
}

@media (max-width: 500px) {

    .top h1 {
        font-size: 14px;
    }

    .navbar-brand h1 {
        font-size: 18px;
        line-height: 0px;
    }

    .fill-screen h1 {
        font-size: 30px;
    }

    .contact-info-box {
        font-size: 15px !important;
        margin: 0 0 14px 0 !important;
    }

        .contact-info-box h3 {
            font-size: 15px !important;
            width: 80px !important;
            margin-right: 0px !important;
        }

    #carousel {
        /* margin-top: 50px !important; */
    }
}


@media (max-width: 400px) {

    .top h1 {
        font-size: 13px;
    }



    .navbar-header {
        position: relative
    }

    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
    }

    .navbar-brand h1 {
        font-size: 17px;
        line-height: 0px;
    }
}
